$color-black: #000;
$color-black-opacity: rgba(0, 0, 0, 0.54);
$color-primary-start: #0796d3;
$color-primary-end: #53c0f0;
$color-secondary-background: #E7EEFB;
$color-danger-start: #D30707;
$color-danger-end: #F05353;
$color-white: #ffffff;
$color-border: #eaecf0;
$foreground-light: #171717;
$color-background: #fff;
$color-text-opacity: rgba(0, 0, 0, 0.54);
$box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

$font-size-large: 1.5rem;
$font-size-medium: 1rem;
$font-weight-regular: 400;
$font-weight-medium: 500;
$letter-spacing-small: -0.02rem;
$letter-spacing-medium: -0.03rem;


$gap-small: 0.5rem;
$gap-large: 1.5rem;
$padding-small: 1rem;
$padding-large: 1.5rem;
$padding-extra-large: 4rem;
$button-height: 3.1875rem;
$button-width: 28.125rem;
$border-radius: 0.5rem;
$margin-medium:1.5rem;


$max-width-container: 28.125rem;
$padding-container: 2rem;
$gap-container: 1.5rem;